@import url(https://fonts.googleapis.com/css?family=Scope+One|Raleway);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  background-color: #e5e5e5;
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
  padding: 3rem; }

.heading-primary {
  font-family: "Scope One", serif;
  font-size: 4rem; }

.footer__copyright {
  text-align: right;
  font-size: 1.5rem; }

.header {
  height: 90vh;
  padding: 2rem 2rem;
  background-color: #fff;
  border: thin solid #999;
  border-radius: 1rem; }
  .header__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__content__logo-box {
      padding-bottom: 2rem; }
    .header__content__text-box {
      padding-bottom: 2rem; }
