// COLORS

$body-background-color: #e5e5e5;
$link-color: #069;
$link-hover-color: #dd6900;
$background-color: #fff;
$body-border-color: #999;

// FONTS
$body-font: 'Raleway', sans-serif;
$header-font: 'Scope One', serif;
