@import 'partials/colors';
@import 'partials/fonts';

body {
  background-color: $body-background-color;
  font-family: $body-font;
}

a:link,
a:active,
a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.headline-image {

}

.avatar {

}
